.login-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-md) var(--spacing-md);
    background-color: var(--white);
    flex-grow: 1;
}

.login-container {
    background-color: var(--background-color-light);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 450px;
    color: var(--text-color-primary);
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
}

.login-title {
    text-align: center;
    font-size: var(--font-size-medium);
    color: var(--text-color-primary);
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    font-weight: 700;
}

.login-form {
    padding: 0 1rem 1rem 1rem;
}

.login-form .form-group {
    margin-bottom: var(--spacing-md);
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: var(--spacing-xs);
    font-weight: 500;
    color: var(--text-color-primary);
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: var(--spacing-xs) var(--spacing-sm);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
    background-color: var(--white);
    color: var(--text-color-primary);
    line-height: 1.4;
    height: auto;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.password-group {
    position: relative;
}

.password-group input[type="password"],
.password-group input[type="text"] {
    padding-right: calc(var(--spacing-sm) + 28px);
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: var(--spacing-xs);
    transform: translateY(-30%);
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: var(--spacing-xs);
    padding-right: var(--spacing-xs);
}

.toggle-password svg {
    width: 18px;
    height: 18px;
    stroke: black;
}

.toggle-password:hover svg {
    stroke: var(--primary-color);
}

.submit-button {
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-sm);
    background-color: var(--primary-color);
    color: var(--white-text-color);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
    font-weight: 700;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    margin-top: var(--spacing-sm);
}

.submit-button:hover {
    background-color: var(--primary-color-darker);
}

.message {
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
    border-radius: var(--border-radius);
    text-align: center;
}

.error-message {
    background-color: rgba(231, 76, 60, 0.1);
    color: var(--error-color);
    border: 2px solid var(--error-color);
    font-weight: 600;
}

.error-message p {
    margin: var(--spacing-xs) 0;
}

.signup-link {
    text-align: center;
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-md);
    font-size: var(--font-size-medium);
}

.signup-link a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}

.signup-link a:hover {
    text-decoration: underline;
}