:root {
    --primary-color: #ff4524;
    --primary-color-darker: #c9361c;
    --secondary-color: #80ccff;
    --success-color: #00a000;
    --error-color: red;
    --text-color-primary: #000000;
    --white-text-color: white;
    --text-color-secondary: #555555;
    --white: white;
    --black: black;
    --background-color: #006060;
    --background-color-light: #99cccc;
    --border-color: #ffffff;
    --font-family-primary: 'Poppins', 'Roboto', 'Segoe UI', Arial, sans-serif;
    --font-size-base: 16px;
    --font-size-small: 0.875rem;
    --font-size-medium: 1.1rem;
    --font-size-large: 1.7rem;
    --spacing-unit: 0.5rem;
    --spacing-xs: var(--spacing-unit);
    --spacing-sm: calc(var(--spacing-unit) * 2);
    --spacing-md: calc(var(--spacing-unit) * 3);
    --spacing-lg: calc(var(--spacing-unit) * 5);
    --navbar-height: 5rem;
    --border-radius: 5px;
    --transition-speed: 0.3s;
    --box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}